<div>
  <h1 style="display:inline-block;">
    Welcome to Umar's Kitchen
  </h1>
  <button style="display:inline-block;float:right;margin-right:30px;margin-top:35px" (click)="gotoLogin()">
    Login
  </button>
</div>
<div>
  <table id="menuItemsPics">
    <tr>
      <td>
        <img src="assets/biryani.png" />
        <h4 style="text-align:center;margin-top:-85px;">Biryani</h4>
      </td>
      <td>
        <img src="assets/chicken65.png" />
        <h4 style="text-align:center;margin-top:-85px;">Chicken 65</h4>
      </td>
      <td>
        <img src="assets/karahi.png" />
        <h4 style="text-align:center;margin-top:-85px;">Karahi</h4>
      </td>
    </tr>
    <tr>
      <td>
        <br />
        <br />
        <img src="assets/nihari.png" />
        <h4 style="text-align:center;margin-top:-85px;">Nihari</h4>
      </td>
      <td>
        <br />
        <br />
        <img src="assets/tikka.png" />
        <h4 style="text-align:center;margin-top:-85px;">Tikka</h4>
      </td>
      <td>
        <br />
        <br />
        <img src="assets/kabab.png" />
        <h4 style="text-align:center;margin-top:-85px;">Kabab</h4>
      </td>
    </tr>
  </table>
</div>
