<div>
  <h1 style="display:inline-block;">
    Welcome to Umars Kitchen
  </h1>
  <button style="display:inline-block;float:right;margin-right:30px;margin-top:35px" (click)="gotoLogout()">
    Logout
  </button>
</div>
<div>
  <table id="menuItemsPics">
    <tr>
      <td>
        <img src="assets/biryani.png" />
        <h4 style="text-align:center;margin-top:-85px;">Biryani</h4>
        <div class="input-group" style="text-align:center;margin-top:-20px">
          <span class="input-group-btn">
            <button type="button" class="btn btn-danger btn-number" data-type="minus" style="height:20px">
              -
            </button>
          </span>

          <input type="text" class="form-control input-number" style="width:47px;height:15px">

          <span class="input-group-btn">
            <button type="button" class="btn btn-success btn-number" data-type="plus" style="height:20px">
              +
            </button>
          </span>
        </div>
        <div style="text-align:center">
          <button type="button" style="width:97.5px" (click)="addToCart()">Add To Cart</button>
        </div>
      </td>
      <td>
        <img src="assets/chicken65.png" />
        <h4 style="text-align:center;margin-top:-85px;">Chicken 65</h4>
        <div class="input-group" style="text-align:center;margin-top:-20px">
          <span class="input-group-btn">
            <button type="button" class="btn btn-danger btn-number" data-type="minus" style="height:20px">
              -
            </button>
          </span>

          <input type="text" class="form-control input-number" style="width:47px;height:15px">

          <span class="input-group-btn">
            <button type="button" class="btn btn-success btn-number" data-type="plus" style="height:20px">
              +
            </button>
          </span>
        </div>
        <div style="text-align:center">
          <button type="button" style="width:97.5px" (click)="addToCart()">Add To Cart</button>
        </div>
      </td>
      <td>
        <img src="assets/karahi.png" />
        <h4 style="text-align:center;margin-top:-85px;">Karahi</h4>
        <div class="input-group" style="text-align:center;margin-top:-20px">
          <span class="input-group-btn">
            <button type="button" class="btn btn-danger btn-number" data-type="minus" style="height:20px">
              -
            </button>
          </span>

          <input type="text" class="form-control input-number" style="width:47px;height:15px">

          <span class="input-group-btn">
            <button type="button" class="btn btn-success btn-number" data-type="plus" style="height:20px">
              +
            </button>
          </span>
        </div>
        <div style="text-align:center">
          <button type="button" style="width:97.5px" (click)="addToCart()">Add To Cart</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <br />
        <br />
        <img src="assets/nihari.png" />
        <h4 style="text-align:center;margin-top:-85px;">Nihari</h4>
        <div class="input-group" style="text-align:center;margin-top:-20px">
          <span class="input-group-btn">
            <button type="button" class="btn btn-danger btn-number" data-type="minus" style="height:20px">
              -
            </button>
          </span>

          <input type="text" class="form-control input-number" style="width:47px;height:15px">

          <span class="input-group-btn">
            <button type="button" class="btn btn-success btn-number" data-type="plus" style="height:20px">
              +
            </button>
          </span>
        </div>
        <div style="text-align:center">
          <button type="button" style="width:97.5px" (click)="addToCart()">Add To Cart</button>
        </div>
      </td>
      <td>
        <br />
        <br />
        <img src="assets/tikka.png" />
        <h4 style="text-align:center;margin-top:-85px;">Tikka</h4>
        <div class="input-group" style="text-align:center;margin-top:-20px">
          <span class="input-group-btn">
            <button type="button" class="btn btn-danger btn-number" data-type="minus" style="height:20px">
              -
            </button>
          </span>

          <input type="text" class="form-control input-number" style="width:47px;height:15px">

          <span class="input-group-btn">
            <button type="button" class="btn btn-success btn-number" data-type="plus" style="height:20px">
              +
            </button>
          </span>
        </div>
        <div style="text-align:center">
          <button type="button" style="width:97.5px" (click)="addToCart()">Add To Cart</button>
        </div>
      </td>
      <td>
        <br />
        <br />
        <img src="assets/kabab.png" />
        <h4 style="text-align:center;margin-top:-85px;">Kabab</h4>
        <div class="input-group" style="text-align:center;margin-top:-20px">
          <span class="input-group-btn">
            <button type="button" class="btn btn-danger btn-number" data-type="minus" style="height:20px">
              -
            </button>
          </span>

          <input type="text" class="form-control input-number" style="width:47px;height:15px">

          <span class="input-group-btn">
            <button type="button" class="btn btn-success btn-number" data-type="plus" style="height:20px">
              +
            </button>
          </span>
        </div>
        <div style="text-align:center">
          <button type="button" style="width:97.5px" (click)="addToCart()">Add To Cart</button>
        </div>
      </td>
    </tr>
  </table>
</div>
